<header>
    <nav class="nav">
        <ul>
            <a class="nav-item" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            |
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a
                    class="nav-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                        active
                    {{ end }}"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    >{{ .Name }}</a
                >
            {{ end }}
        </ul>
    </nav>
</header>
