<header>
    <nav>
        <ul>
            {{ $currentPage := . }}
            {{ range first 1 .Site.Menus.main }}
                <a
                    class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                        underline
                    {{ end }} text-lg font-bold text-cyan-600"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    >{{ .Name }}</a
                >
            {{ end }}
            {{ range after 1 .Site.Menus.main }}
                |
                <a
                    class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                        underline
                    {{ end }} text-lg font-bold text-cyan-600"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                    >{{ .Name }}</a
                >
            {{ end }}
        </ul>
    </nav>
</header>
