{{ define "main" }}
    <h1 class="text-5xl font-bold">{{ .Title }}: {{ len .Pages }}</h1>
    {{ range .Pages }}
        <div>
            <h2 class="text-4xl underline">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <ul>
                {{ range .Params.tags }}
                    <li class="inline">
                        <a
                            class="text-blue-600 underline"
                            href="{{ "/tags/" | relURL }}{{ . | urlize }}"
                            >{{ . }}</a
                        >
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
{{ end }}
